<StackLayout>
  <FlexboxLayout id="topFlexbox" justifyContent="space-between">
    <Label id="i1" text="Item 1" alignSelf="flex-start"></Label>
    <Label id="i2" text="Item 2" alignSelf="flex-end"></Label>
    <Label id="i3" text="Item 3" alignSelf="flex-start"></Label>
  </FlexboxLayout>
  <FlexboxLayout id="bottomFlexbox">
    <FlexboxLayout id="leftFlexbox" flexDirection="column" justifyContent="space-around">
      <Label id="i1" text="Item 1"></Label>
      <Label id="i2" text="Item 2"></Label>
      <Label id="i3" text="Item 3"></Label>
    </FlexboxLayout>
    <FlexboxLayout id="rightFlexbox" flexDirection="column" justifyContent="space-around">
      <Label id="i1" text="Item 1"></Label>
      <Label id="i2" text="Item 2"></Label>
    </FlexboxLayout>
  </FlexboxLayout>
</StackLayout>